h1{
	text-align: center;
	font-size: 40px
}

h3{
	font-family: Times New Roman, san-serif;
	font-size: 18px;
	font-decoration: underline;
	float: left;
}

.topnav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.topnav a:hover {
 	background-color: pink;
 	color: white;
 }

 .topnav a.active {
  background-color: pink;
  color: white;
}

article  {
	float: left;
	width: 50%;
	font-size: ;
}

img {
	float: left;
	width: 45%; 
}

section{
	float: left;
}


#wrapper {
 margin: 0 auto;
 width: 50%;
}



 .clearfix:after {
 	visibility: 
 	display: block;
 	content: " ";
 	clear: both;
 	height: 
 	font-size: ;
 }

.column {
 	float: left;

 

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 42%;
}


 div{
 	font-size: 20px;
 	width: ;
 }


 footer {
 	text-align: center;
 	padding: 1em 0;
 }