
* { 
  margin: 1em px; 
  padding: 0px; 
  box-sizing: border-box;
}


h1 {
  text-align: center;
  font-size: 42px
}

h2{
  font-size: 20px
  text-align: left;
}

aside {
  float: right;
}

h3 {
  font-family: Times New Roman, san-serif;
  font-size: 18px;
  font-decoration: underline;
  text-align: center;
}

.topnav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.topnav a:hover {
  background-color: pink;
  color: white;
}

.topnav a.active {
  background-color: pink;
  color: white;
}

#wrapper {
  margin: 0 auto;
  width: 50%;
}

.clearfix:after {
  display: block;
  clear: both;
}

.column {
  float: left;
}

#right {
  background-color: pink;
  border: 1px black solid;
  padding: 20px;
  float: right;
  width: 42%;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  background-color: white;
}

.grid article {
  margin: 10px;
  border: 5px;
}

.image-container {
  text-align: center;
}

p {
  text-align: center;
}

div {
  font-size: 18px;
}

img {
  width: 552px;
  height: 404px;
  text-align: center;
}

footer {
  padding: 1em 0;
}