nav { 
	background-color: 
	font-family:;
 }

 a{
 	background-color: 
 	color:;
 	text-decoration: 
 	display:;

 }

 .clearfix:after {
 	visibility: 
 	display: block;
 	content: ""
 	clear: both;
 	height: 
 	font-size: ;
 }

 nav a:hover {
 	background-color: ;
 }

 .column {
 	float: left;
 	width: 260px;
 	height: 300px;
 	padding:20px;
 	margin: 0;
 }

 #column1 {
 	background-color: 
 }

 #column2 {
 	background-color: 
 }

 #column3 {
 	background-color: 
 }

 div{
 	font-size: 
 	width: ;
 }

 footer {
 	text-align: 
 	padding: 1em 0;
 }